<!-- index.html -->

{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
    <div class="container center">
        <div class="index_pp_container">
            <a href="{% url 'profile' request.user.profile_set.first.id %}" ><span><img class="index_pp" src={{request.user.profile_set.first.profile_image.url}}></img></span></a>
        </div>
        <div>
            {% if lekh %}
                <div class="lekh" data-lekh-id="{{ lekh.id }}">
                    <div class="profile"><a class="center lnk" href="{% url 'profile' lekh.profile.id %}">
                        {% if lekh.profile.profile_image %}
                            <img class="index_pp" src={{ lekh.profile.profile_image.url }}></img>
                        {% else %}
                            <img class="index_pp" src={% static 'image/default.png' %}></img>
                        {% endif %}
                        <span>{{ lekh.profile }}</span>
                    </a></div>
                    <div class="body lnk">{{ lekh.body }}</div>
                    {% if lekh.file %}
                        <div>
                            <img style="width: 100%;" src={{ lekh.file.url }}></img>
                        </div>
                    {% endif %}
                    <div class="date">{{ lekh.date_created }}</div>
                    <div class="lake_a">
                        <div class="likes lake_b">
                            <i {% if request.user.profile_set.exists and request.user.profile_set.first in lekh.likes.all %} id="unlike" {% else %}id="like"{% endif %} class="fa fa-thumbs-up lake"></i>
                            <span style="padding-right: 11px;" id="no_of_likes" class"like_lab lake">{{ lekh.no_of_likes }} Likes</span>
                            <button hidden class="like-button lake">Like</button>
                        </div>
                        <div onClick="var a = document.getElementById('id_body'); a.focus();" class="leka lake_a likes lake lake_b ">
                            <span>
                                <i onClick="" class="gg-comment cmt"></i>
                            </span>
                            <span class="lake la_s"> Comment</span>
                        </div>
                        {% if lekh.profile.user == user %}
                            <div id="l_rm" class="leka lake_a likes lake lake_b ">
                                <span>
                                    <i class="glyphicon glyphicon-trash ic_sz"></i>
                                </span>
                                <span class="lake la_s"> Delete</span>
                            </div>
                            <div style="display: none;" class="overlay">
                                <div>
                                    <div><button id"rm_c">cancel</button></div>
                                    <div><button id"rm_o">ok</button></div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="leka lake_a likes lake lake_b ">
                            <span>
                                <i id="l_shr" class="glyphicon glyphicon-share-alt"></i>
                            </span>
                            <span class="lake la_s">Share</sapn>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="fmr">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    {{ form.body }}
                </div>
                <div>
                    <label for="id_file" class="custom-file-upload">
                        <span>Choose File</span>
                        {{ form.file }}
                    </label>
                </div>
                <div>
                    <button type="submit">Post Lekh</button>
                </div>
            </form>
        </div>
        <div>
            {% if re_lekhs %}
                {% for re_lekh in re_lekhs %}
                    <div id="re_lekh" class="lekh" data-lekh-id="{{ re_lekh.id }}">
                        <div class="profile"><a class="center lnk" href="{% url 'profile' lekh.profile.id %}">
                            {% if lekh.profile.profile_image %}
                                <img class="index_pp" src={{ lekh.profile.profile_image.url }}></img>
                            {% else %}
                                <img class="index_pp" src={% static 'image/default.png' %}></img>
                            {% endif %}
                            <span>{{ lekh.profile }}</span>
                        </a></div>
                        <div class="body"><a class="lnk" href="{% url 'lekh_view' re_lekh.id %}">{{ re_lekh.body }}</a></div>
                        {% if re_lekh.file %}
                        <div><a class="lnk" href="{% url 'lekh_view' re_lekh.id %}">
                            <img style="width: 100%;" src={{ re_lekh.file.url }}></img></a>
                        </div>
                        {% endif %}
                        <div class="date">{{ re_lekh.date_created }}</div>
                        <div class="lake_a">
                            <div class="likes lake_b">
                                <i {% if request.user.profile_set.exists and request.user.profile_set.first in re_lekh.likes.all %}id="unlike"{% else %}id="like"{% endif %} class="fa fa-thumbs-up lake"></i>
                                <span style="padding-right: 11px;" id="no_of_likes" class"like_lab lake">{{ re_lekh.no_of_likes }} Likes</span>
                                <button hidden class="like-button lake">Like</button>
                            </div>
                            <a class="lnk" href="{% url 'lekh_view' re_lekh.id %}"><div class="leka lake_a likes lake lake_b ">
                                <span>
                                    <i onClick="" class="gg-comment cmt"></i>
                                </span>
                                <span class="lake la_s"> Comment</span>
                            </div></a>
                            {% if re_lekh.profile.user == user %}
                                <div id="cl_rm" class="leka lake_a likes lake lake_b ">
                                    <span>
                                        <i class="glyphicon glyphicon-trash ic_sz"></i>
                                    </span>
                                    <span class="lake la_s"> Delete</span>
                                </div>
                                <div style="display: none;" class="overlay">
                                    <div>
                                        <div><button id"rm_cc">cancel</button></div>
                                        <div><button id"rm_co">ok</button></div>
                                    </div>
                                </div>
                                
                            {% endif %}
                            <div class="leka lake_a likes lake lake_b ">
                                <span>
                                    <i id="l_shr" class="glyphicon glyphicon-share-alt"></i>
                                </span>
                                <span class="lake la_s">Share</sapn>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

