<!-- pages/profile.html -->

{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="container center">
    <h1>Profile</h1>
    <div class="profiles">
        {% if search %}
            {% for profile in search %}
                <div class="companions">
                    <div>
                        <div class="profile" id="{{profile.id}}"><a class="center lnk" href="{% url 'profile' profile.id %}">
                            {% if lekh.profile.profile_image %}
                                <img class="index_pp" src={{ lekh.profile.profile_image.url }}></img>
                            {% else %}
                                <img class="index_pp" src={% static 'image/default.png' %}></img>
                            {% endif %}
                            <span> @{{ profile }}</span></a>
                            <div class="right">
                                <button id="comp" class="compan">
                                    {% if profile in request.user.profile_set.first.companian.all %}
                                    Uncompane
                                    {% else %}
                                    Compane
                                    {% endif %}
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        {% if lekhs %}
            {% for lekh in lekhs %}
                <div class="lekh" data-lekh-id="{{ lekh.id }}">
                    <div class="profile"><a class="center lnk" href="{% url 'profile' lekh.profile.id %}">
                        {% if lekh.profile.profile_image %}
                            <img class="index_pp" src={{ lekh.profile.profile_image.url }}></img>
                        {% else %}
                            <img class="index_pp" src={% static 'image/default.png' %}></img>
                        {% endif %}
                        <span>{{ lekh.profile }}</span>
                    </a></div>
                    <div class="body"><a class="lnk" href="{% url 'lekh_view' lekh.id %}">{{ lekh.body }}</a></div>
                    {% if lekh.file %}
                    <div><a class="lnk" href="{% url 'lekh_view' lekh.id %}">
                        <img style="width: 100%;" src={{ lekh.file.url }}></img></a>
                    </div>
                    {% endif %}
                    <div class="date">{{ lekh.date_created }}</div>
                    <div class="lake_a">
                        <div class="likes lake_b">
                            <i {% if request.user.profile_set.exists and request.user.profile_set.first in lekh.likes.all %}id="unlike"{% else %}id="like"{% endif %} class="fa fa-thumbs-up lake"></i>
                            <span style="padding-right: 11px;" id="no_of_likes" class"like_lab lake" >{{ lekh.no_of_likes }} Likes</span>
                            <button hidden class="like-button lake">Like</button>
                        </div>
                        <a class="lnk" href="{% url 'lekh_view' lekh.id %}"><div class="leka lake_a likes lake lake_b ">
                            <span>
                                <i onClick="" class="gg-comment cmt"></i>
                            </span>
                            <span class="lake la_s"> Comment</span>
                        </div></a>
                        {% if lekh.profile.user == user %}
                            <div id="cl_rm" class="leka lake_a likes lake lake_b ">
                                <span>
                                    <i class="glyphicon glyphicon-trash ic_sz"></i>
                                </span>
                                <span class="lake la_s"> Delete</span>
                            </div>
                            <div style="display: none;" class="overlay">
                                <div>
                                    <div><button id"rm_c">cancel</button></div>
                                    <div><button id"rm_o">ok</button></div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
